h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
    margin: 1rem 0;
}

h4 {
    font-size: 1.5rem;
    margin: 0.5rem;
}

a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}


body {
    box-sizing: border-box;
    background-color: #fffaf0;
    font-family: 'Popppins', 'Roboto';
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFA07A;
    padding: 2rem 1rem;
    color: #fff;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

header h1 {
    margin-bottom: 0.5rem;
    margin: 0.5rem;
}

header h3 {
    font-weight: 400;
    margin: 0.5rem;
    font-size: 2rem;
}

header p {
    margin: 1rem;
}

section {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 0 1rem;
}

.why-us {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #fffaf0;
    padding-bottom: 10px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.why-us>ul {
    display: flex;
    gap: 1.5rem;
    font-size: larger;
    list-style-type: none;
    margin: 0rem;
}

.why-us>h4 {
    text-align: center;
}

li {
    margin: 0.5rem 0;
    font-size: 1rem;
}

ul>li {
    display: inline-flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    text-wrap: nowrap;
}

button {
    border: none;
    height: 2.5rem;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    background-color: #222;
}

button :hover {
    background-color: #444;
}

.why-us a {
    border-radius: 25px;
    width: 40%;
    padding: 1rem 0rem;
    place-self: center;
}

.order-btn {
    display: inline-block;
    background-color: #222;
    color: white;
    padding: 0.6rem 0;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bold;
    transition: background 0.3s ease;
    text-align: center;
}

.order-btn:hover {
    background-color: #444;
}

.menu>h3,
h4 {
    text-align: center;
}

.snacks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    row-gap: 1rem;
}

.items {
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: right;
    margin: 0 1rem 1.5rem;
    padding: 1rem;
    box-sizing: border-box;
}

.items>img {
    width: 40%;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    filter: grayscale(0.25);
}

.descr {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.name {
    font-weight: 600;
}

.price {
    font-style: normal;
    font-weight: bold;
    color: #FFA07A;
    margin-bottom: 0.5rem;
}

.specials>h3,
h4 {
    text-align: center;
}

.local-dishes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    padding: 1rem;
}

.local-dishes>div>span {
    justify-content: space-around;
}

.local-dishes>div>img {
    width: 60%;
    border-radius: 20px;
    filter: grayscale(0.3);
}

.testimonials {
    background-color: #fcefe8;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 2px solid #ffa07a;
}

.testimonials h3 {
    text-align: center;
}

.testimony {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    font-style: italic;
}

.span-2 {
    grid-column: span 2;
    width: 50%;
    justify-self: right;
}

footer {
    background-color: #222;
    color: white;
    padding: 1.5rem 1rem;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

footer a {
    color: #ffa07a;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width:370px) {
    .snacks {
        display: grid;
        grid-template-columns: 1fr;
    }

    .local-dishes {
        display: grid;
        grid-template-columns: 1fr;
    }

    .testimonials {
        display: flex;
        flex-direction: column;

    }

    .why-us ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0rem;
        padding: 0rem;
    }

    .snacks .items,
    .local-dishes .items {
        width: 100%;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    .span-2 {
        grid-column: span 1;
        width: 100%;
    }

    h1 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 1.5rem;
    }

}